
.banner .container {
    display: flex;
    width: 77vw;
    margin-left: 9vw;
    height: 122vh;
    padding-top: 19.1vh;
}

h1 {
    margin-right: 5vw;
    margin-top: 15vh;
    font-size: x-large;
}

.card {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right bottom, rgb(235, 234, 234), rgb(170, 170, 170), rgb(210, 210, 210),rgb(233, 233, 233));
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.hidden_menu {
    width: 8vw;
    height: 40vh;
}

.div_icone_agora {
    cursor: pointer;
}

.graph {
    width: 60%;
}