
.banner .container {
    display: flex;
    width: 75vw;
    margin-left: 10vw;
    height: 120vh;
    padding-top: 19.1vh;
}

h1 {
    margin-right: 5vw;
    margin-top: 15vh;
    font-size: x-large;
}

.card {
    width: 100%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}

.hidden_menu {
    width: 8vw;
    height: 40vh;
}

body {
    margin: 0%;
    overflow-x: hidden;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    /* background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.813), rgba(0, 0, 0, 0.676), rgba(0, 0, 0, 0.701)); */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.807);
    position: fixed;
    z-index: 1;
    background-image: linear-gradient(to left top, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0, 0, 0.461);
    /* background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.949), rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0.176)) */
    /* background-image: linear-gradient(to right, rgb(2, 35, 20), rgba(2, 47, 26, 0.846), rgba(4, 50, 29, 0.854), rgba(4, 56, 14, 0.296)) */
}

.banner {
    width: 95vw;
    margin-left: 5vw;
    height: 100vh;
    background-size: contain;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.698), rgba(0, 0, 0, 0.698), rgb(0, 0, 0)),
        url('../assets/Visual\ ID/times/back-spfc.jpg');
    background-repeat: repeat-y;
    position: relative;
}

.sidebar {
    background-color: rgba(167, 0, 0, 0.916);
    width: 5vw;
    z-index: 1;
    height: 110vh;
    position: fixed;
    bottom: 0.00001px;
}

.sidebar .container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 35%;
    width: 100%;
    float: right;
    bottom: 100px;
    position: absolute;
    margin-bottom: 10vh;
}

.hidden_menu {
    background-color: rgb(167, 0, 0);
    position: absolute;
    z-index: 2;
    display: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    left: 90%;
    top: 0%;
}

.hidden_menu .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    margin-left: 20%;
    height: auto;
    flex-direction: column;
    top: 3%;
}

.div_icone {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_icone:hover {
    background-color: rgba(19, 19, 19, 0.516);
}

.div_icone_agora {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    cursor: pointer;
    position: relative;
}

.div_icone_agora:hover + .hidden_menu {
    display: block;
}

.hidden_menu:hover{
    display: block;
}

.div_icone_agora img {
    height: 30px;
}

.div_icone img {
    height: 30px;
}


h1 {
    color: white;
    margin-bottom: 25px;
}

h2 {
    font-size: medium;
    color: rgb(255, 255, 255);
}

h3{
    margin: 0%;
    font-size: large;
    color: white;
}

input {
    width: 19.25vw;
    height: 5vh;
    border-radius: 10px;
    border: 0;
    margin-bottom: 7px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.101);
    color: white;
}

select {
    width: 20.25vw;
    height: 5.3vh;
    border-radius: 10px;
    border: 0;
    margin-bottom: 5px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.101);
    color: white;
}

option {
    background-color: rgb(58, 58, 58);
    height: 30px;
    border: 1px solid #cbcbcb;
    padding-left: 17px;
    padding-top: 12px;
}

button {
    width: 20.25vw;
    height: 5.5vh;
    margin-top: 5%;
    border-radius: 10px;
    border: 0ch;
    font-size: medium;
    color: white;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.837);
}

.header {
    width: 100vw;
    height: 14vh;
}

.header_container {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin-left: 7.5vw;
}

.div_logo {
    display: flex;
    align-items: center;
    width: 17vw;
    justify-content: space-around;
    margin-top: 1.8%;
}

.escrita {
    width: 11vw;
    margin-bottom: 3px;
}

.escudo {
    width: 4vw;
    margin-bottom: 3px;
}

.navbar {
    width: auto;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    width: 50px;
    margin-left: 15px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: white;
    margin: 0%;
    display: inline-block;
}

a::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: white;
    transition: width 0.05s ease-out;
    margin-top: 4.5vh;
}

a:hover::after {
    width: 100%;
    transition: width 0.05s ease-out;
}

.login {
    background-color: rgb(59, 59, 59);
    color: white;
    padding-bottom: 2.5%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: -12px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.776);
    transition: 0.1s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(167, 0, 0);
    border-radius: 10px;
}


